
.FilmPageDesign {

    display: flex;
    flex-direction: column;
    gap: 2em;
    position: sticky;
    top: 1em;

    /* grid-template-columns: 1fr 3fr; */
    /* column-gap: 1em; */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}

.film-main-box {
    position: sticky;
    top: 0;

    text-align: left;

    display: flex;
    flex-direction: row;
    gap: 2em;

    padding-right: 2em;

    background-color: rgb(132, 126, 126);
}





.FilmPageDesign > div.BoxContainerDesign {
    background-color: rgb(94, 89, 89);
    color:white;
    padding: 1em;
}


.poster-img{
    width: 18em;
    transition: 200ms;
    object-fit: cover;
}

.film-main-box.on-scroll .poster-img{
    width: 8em;
    object-fit: scale-down;
    
    transition-duration: 200ms;
}


.genre_list {
    display: inline-flex;
    gap: 0.5em;
}


.film-details{
    flex-grow: 1;
}



.more-details {
    display: flex;
    flex-direction: column;
    gap:0.5em;
}

.film-main-box.on-scroll .more-details {
    display: none;
}