
.FilmCardDesign{
    min-width: 10em;
    /* min-height: 30em; */
    /* border: 0.1px solid black; */
    transition-duration: 400ms;
    position: relative;
    color:white;
}



.FilmCardDesign > img {
    width: 100%;
}

.FilmCardDesign .title-film {
    font-weight: bolder;
}

.FilmCardDesign .black-screen{

    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;

    transition-duration: 1500ms;
}

.FilmCardDesign .info-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: end;

    transition-duration: 1500ms;

    cursor: pointer;
}

@media only screen and (min-width: 700px){

    .FilmCardDesign:hover{
        transform: scale(1.2);
        transition-duration: 400ms;
        z-index: 10;
    }
    
    .FilmCardDesign .info-screen:hover {
        opacity: 1;
    }
    .FilmCardDesign .black-screen:has(~ .info-screen:hover) {
        opacity: 0.7;
    }

}





.FilmCardDesign .info-screen p {
    font-size: 0.8em;
    font-weight: bolder;
    margin-bottom: 3em;
    padding: 1em;
}