
.FilmCardDesign{
    min-width: 10em;
    /* min-height: 30em; */
    border: 2px solid black;
    transition-duration: 400ms;
    position: relative;
}

.FilmCardDesign:hover{
    transform: scale(1.2);
    transition-duration: 400ms;
    z-index: 10;
}

.FilmCardDesign > img {
    width: 100%;
}

.FilmCardDesign > .title-film-box {
    display: block;
    position: absolute;
    background-color: white;
    color: black;
    z-index: 20;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}

