
a {
    color: white;
}

.HeaderDessign {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    row-gap: 2em;
    column-gap: 1em;

    background-color: gray;
    min-height: 6em;
    padding: 1em;
    box-sizing: border-box;
}


.HeaderDessign nav{
    display: flex;
    flex-wrap: wrap;
    gap: 3em;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, auto)); */


    flex-grow: 1;
    justify-content: center;
}


.HeaderDessign .SearchFilmBarDessign {
    flex-grow: 1;
    max-width: 40em;
}